<div class="background_confirm">
  <div class="container">
    <br>
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-4">
       <h2>投稿確認</h2>
      </div>
    </div>
    <br>

    <div class="row justify-content-center">
     <div class="col-1">
     </div>
     <div class="col-6">
      <h5>まだ投稿されていません。<br>投稿内容を確認し、<br>投稿ボタンをクリックしてください</h5>
     </div>
    </div>
    <br>
    <div class="row justify-content-end">
     <div class="col-12">
        <%= form_with model: @post_input, url: posts_path(id: params[:id]),multipart: true,method: :post do |f| %>
         <table bolder="1">
          <thead>
           <tr>
            <td class="table_co">
              <%= f.label "タイトル" %>
            </td>
            <td>
             <%= @post_input.title %>
             <%= f.hidden_field :title, value: @post_input.title %>
            </td>
           </tr>
           <tr>
            <td class="table_co">
             <%= f.label "画像" %>
            </td>
            <td>
             <%= image_tag @post_input.image.variant(resize: '400x400') if @post_input.image.attached? %>
             <%= f.hidden_field :image, value: @post_input.image %>
            </td>
           </tr>
           <tr>
            <td class="table_co">
             <%= f.label "都道府県" %>
            </td>
            <td>
             <%= @post_input.prefectues %>
             <%= f.hidden_field :prefectues, value: @post_input.prefectues %>
            </td>
           </tr>
           <tr>
            <td class="table_co">
             <%= f.label "住所" %>
            </td>
            <td class="text-left">
             <%= safe_join(@post_input.area.split("\n"),tag(:br)) %>
             <%= f.hidden_field :area, value: @post_input.area %>
            </td>
           </tr>
           <tr>
            <td class="table_co">
             <%= f.label "アクセス" %>
            </td>
            <td class="text-left">
             <%= safe_join(@post_input.access.split("\n"),tag(:br)) %>
             <%= f.hidden_field :access,value: @post_input.access %>
            </td>
           </tr>
           <tr>
            <td class="table_co">
             <%= f.label "周辺情報" %>
            </td>
            <td class="text-left">
             <%= safe_join(@post_input.nearby_information.split("\n"),tag(:br)) %>
             <%= f.hidden_field :nearby_information,value: @post_input.nearby_information %>
            </td>
           </tr>
           <tr>
            <td class="table_co">
             <%= f.label "巡り方" %>
            </td>
            <td class="text-left">
             <%= safe_join(@post_input.go_around.split("\n"),tag(:br)) %>
             <%= f.hidden_field :go_around,value:  @post_input.go_around %>
            </td>
           </tr>
           <tr>
            <td class="table_co">
             <%= f.label "感想" %>
            </td>
            <td class="text-left">
             <%= safe_join(@post_input.impressions.split("\n"),tag(:br)) %>
             <%= f.hidden_field :impressions,value:  @post_input.impressions %>
            </td>
           </tr>
           <tr>
            <td class="table_co">
             <%= f.label :"タグ登録" %>
            </td>
            <td>
             <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name, checked: @tag_ids) do |tag| %>
                <div><%= tag.check_box(disabled: true) %><%= tag.text %></div>
             <% end %>
            </td>
           </tr>
          </thead>
         </table>
         <br>
         <div class="row justify-content-center">
          <div class="col-4">
           <%= link_to '前に戻る' ,new_post_path(id: @post_input.id), class: 'sign-btn' %>
          </div>
          <div class="col-3">
           <%= f.submit '投稿する',class: 'sign-btn' %>
           <%= f.hidden_field :tags, value: @tag_ids.join(' ') %>
          </div>
        <% end %>
      </div>
     </div>


 </div>
</div>