<div class="background_mypost">
 <br>
 <div class="row">
   <div class="col-1"></div>
   <div class="col-8">
    <h3><%= link_to '投稿はこちらから',new_post_path %></h3>
   </div>
  </div>
  <div class="row">
   <div class="col-5"></div>
   <div class="col-4">
    <h2>投稿一覧(全<%= Post.count %>件）</h2>
   </div>
  </div>
 <div class="row">
   <div class="col-4"></div>
   <div class="col-4"></div>
   <div class="col-4">
    <%= search_form_for @search do |f| %>
      <%= f.label :posts, "検索" %>
      <%= f.search_field :title_or_tags_name_cont %>
      <%= f.submit "検索する" %>
    <% end %>
   </div>
 </div>

  <br>
  <div class="row">
   <div class="col-2"></div>
   <div class="col-10">
    <table border="1" >
      <thead>
        <tr>
          <th>投稿者</th>
          <th>投稿タイトル</th>
          <th>投稿日</th>
          <th>コメント</th>
        </tr>
      </thead>
      <% @posts.each do |input| %>
      <tbody>
        <tr>
          <td><%= input.member.full_name %></td>
          <td><%= link_to input.title,post_path(input.id) %></td>
          <td><%= input.created_at.strftime('%Y/%m/%d') %></td>
          <td><%= link_to "#{input.comments.count} コメント", post_path(input.id) %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
   </div>
  </div>
    <br>
  <div class="row">
    <div class="col-5"></div>
    <div class="col-4">
      <h4><%= paginate @posts %></h4>
    </div>
  </div>
</div>