<h4>ようこそ!ゆかり巡りの世界へ!</h4>

<h3><%= link_to '投稿はこちらへ',new_post_path %></h3>


<h1>投稿一覧(全<%= Member.count %>件）</h1>

<table border="1" >
  <thead>
    <tr>
      <th>投稿日</th>
      <th>投稿タイトル</th>
    </tr>
  </thead>
  <% @posts.each do |input| %>
  <tbody>
    <tr>
      <td><%= input.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= input.title %></td>
    </tr>
  </tbody>
  <% end %>
</table>
<%= paginate @posts %>