<div class="container">
    <br>
    <div class="row">
     <div class="col-4">
     </div>
     <div class="col-4">
      <h2>投稿入力フォーム</h2>
     </div>
    </div>
    <div class="row">
     <%= render 'layouts/error_messages', model: @post_input %>
    </div>
    <div class="row justify-content-center">
    　<div class="col-12">
    　  <%= form_with model: @post_input,url: "/posts/unsubscribe", method: :post do |f| %>
    　    <table class="table table-borderless">
    　      <tbody>
    　        <tr>
    　          <td>
    　            <%= f.label :"タイトル" %>
    　          </td>
    　          <td>
    　             <%= f.text_field :title,class:"form-control" %>
    　          </td>
    　        </tr>
      　      <tr>
    　          <td>
                  <%= f.label :"画像" %>
    　          </td>
    　          <td>
    　            <%= f.file_field :image, placeholder: "選択されていません", accept: "image/*" %>
    　          </td>
    　        </tr>
      　      <tr>
    　          <td>
                 <%= f.label :"都道府県" %>
    　          </td>
    　          <td>
    　           　<%= f.select :prefectues, [["北海道", "北海道"], ["青森県", "青森県"], ["岩手県", "岩手県"], ["宮城県", "宮城県"], ["秋田県", "秋田県"],
            ["山形県", "山形県"],  ["福島県", "福島県"], ["茨城県", "茨城県"], ["栃木県", "栃木県"], ["群馬県", "群馬県"], ["埼玉県", "埼玉県"], ["千葉県", "千葉県"], ["東京府", "東京府"],
            ["神奈川県", "神奈川県"], ["新潟県", "新潟県"], ["富山県", "富山県"], ["石川県", "石川県"], ["福井県", "福井県"], ["山梨県", "山梨県"], ["長野県", "長野県"], ["岐阜県", "岐阜県"],
            ["静岡県", "静岡県"], ["愛知県", "愛知県"], ["三重県", "三重県"], ["滋賀県", "滋賀県"], ["京都府", "京都府"], ["大阪府", "大阪府"], ["兵庫県", "兵庫県"], ["奈良県", "奈良県"],
            ["和歌山県", "和歌山県"], ["鳥取県", "鳥取県"], ["島根県", "島根県"], ["岡山県", "岡山県"], ["広島県", "広島県"], ["山口県", "山口県"], ["徳島県", "徳島県"], ["香川県", "香川県"],
            ["愛媛県", "愛媛県"], ["高知県", "高知県"], ["福岡県", "福岡県"], ["佐賀県", "佐賀県"], ["長崎県", "長崎県"], ["熊本県", "熊本県"], ["大分県", "大分県"], ["宮崎県", "宮崎県"],
            ["鹿児島県", "鹿児島県"], ["沖縄県", "沖縄県"]], include_blank: "選択して下さい" %>
    　          </td>
    　        </tr>
              <tr>
    　          <td>
                 <%= f.label :"住所" %>
    　          </td>
    　          <td>
                 <%= f.text_field :area %>
    　          </td>
    　        </tr>
    　        <tr>
    　          <td>
                 <%= f.label :"アクセス" %>
    　          </td>
    　          <td>
                 <%= f.text_area :access %>
    　          </td>
    　        </tr>
    　        <tr>
    　          <td>
                 <%= f.label :"周辺情報" %>
    　          </td>
    　          <td>
                 <%= f.text_area :nearby_information %>
    　          </td>
    　        </tr>
    　        <tr>
    　          <td>
                 <%= f.label :"巡り方" %>
    　          </td>
    　          <td>
                  <%= f.text_area :go_around %>
    　          </td>
    　        </tr>
    　        <tr>
    　          <td>
                 <%= f.label :"感想" %>
    　          </td>
    　          <td>
                 <%= f.text_area :impressions %>
    　          </td>
    　        </tr>
    　        <tr>
    　          <td>
                 <%= f.label :"タグ登録" %>
    　          </td>
    　          <td>
                 <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
                  　<div><%= tag.check_box %><%= tag.text %></div>

                 <% end %>
    　          </td>
    　        </tr>
    　      </tbody>
    　    </table>
    　</div>

          <div class="form-check">

          <div class="row">
            <%= f.submit '確認画面に進む'%>
          </div>
        <% end %>
    </div>
</div>