
<h2>投稿入力フォーム</h2>

<%= form_with model: @post_input,url: "/posts/unsubscribe",method: :get do |f| %>
    <%= f.label :"タイトル" %> <%= f.text_field :title %>
    <%= f.label :"画像" %> <%= f.file_field :image, placeholder: "選択されていません", accept: "image/*" %>
    <%= f.label :"国" %> <%= f.select :country,[["日本", "日本"], ["中国", "中国"], ["韓国", "韓国"], ["フランス", "フランス"], ["スペイン", "スペイン"], ["アメリカ", "アメリカ"], ["イタリア", "イタリア"], ["メキシコ", "メキシコ"], ["イギリス", "イギリス"], ["トルコ", "トルコ"], ["ドイツ", "ドイツ"], ["タイ", "タイ"], ["台湾", "台湾"], ["スウェーデン", "スウェーデン"], ["サウジアラビア", "サウジアラビア"], ["スウェーデン", "スウェーデン"]] %>
<% end %>