<div class="background_form">
  <div class="container">
    <br>
    <div class="row">
      <div class="col-5">
        <%= link_to '投稿一覧に戻る',posts_path,style: "font-weight: bold" %>
      </div>
    </div>
      <br>
      <div class="row">
       <div class="col-5"></div>
       <div class="col-4">
        <h2>投稿詳細</h2>
       </div>
      </div>
      <br>
   <div class="row justify-content-center">
     <div class="col-12">
      <table border="1">
        <tbody>
          <tr>
            <td class="table_co">
              タイトル
            </td>
            <td>
              <%= @post_detail.title %>
            </td>
          </tr>
          <tr>
           <td class="table_co">
             投稿者
           </td>
            <td>
              <%= @post_detail.member.full_name %>
            </td>
           </tr>
           <tr>
            <td class="table_co">
              画像
            </td>
            <% if @post_detail.image.attached? %>
              <td>
                <%= image_tag @post_detail.image.variant(resize: '400x400') %>
              </td>
            <% else %>
              <td>
                <%= image_tag 'no_image2', size: "200x200" %>
              </td>
            <% end %>
           </tr>
           <tr>
            <td class="table_co">
              都道府県
            </td>
            <td>
              <%= @post_detail.prefectues %>
            </td>
           </tr>
           <tr>
            <td class="table_co">
              住所<br>
              ※スタート地点の
            </td>
            <td>
              <%= @post_detail.area %>
            </td>
          </tr>
          <tr>
           <td class="table_co">
            アクセス
           </td>
           <td class="text-left">
             <%= safe_join(@post_detail.access.split("\n"),tag(:br)) %>
           </td>
          </tr>
          <tr>
            <td class="table_co">
              周辺情報
            </td>
            <td class="text-left">
              <%= safe_join(@post_detail.nearby_information.split("\n"),tag(:br)) %>
            </td>
          </tr>
          <tr>
           <td class="table_co">
            巡り方
           </td>
            <td class="text-left">
              <%= safe_join(@post_detail.go_around.split("\n"),tag(:br)) %>
            </td>
          </tr>
          <tr>
            <td class="table_co">
              感想
            </td>
            <td class="text-left">
              <%= safe_join(@post_detail.impressions.split("\n"),tag(:br)) %>
            </td>
          </tr>
        </tbody>
       </table>
      </div>
     </div>
     <br>
     <div class="row">
       <div class="col-5"></div>
       <div class="col-4">
         <h4><%= link_to '投稿内容を編集する',edit_post_path(@post_detail),style: "font-weight: bold" %></h4>
       </div>
     </div>
     <br>
     <p class="tag_design">
       タグ:
     </p>
    <% @post_detail.tags.each do |tag| %>
    <p class="tag_age">
      <%= tag.name %>
    </p>
    <% end %>
    <br>
     <% if @post_detail.favorited_by?(current_member) %>
       <div class="row">
        <h4>
          <%= link_to post_bookmarks_path(@post_detail),style: "color: red;", method: :delete do %>
          ♥<%= @post_detail.bookmarks.count %>いいね
         <% end %>
        </h4>
      </div>
      <p>いいね数:<%= @post_detail.bookmarks.count %></p>
      <% else %>
      <div class="row">
        <h4>
          <%= link_to post_bookmarks_path(@post_detail), style: "color: red;",method: :post do %>
          ♥<%= @post_detail.bookmarks.count %>いいね
         <% end %>
        </h4>
      </div>
      <% end %>
      <div>
        <p>コメント入力フォーム:</p>
        <%= form_with model: [@post_detail, @post_comment] do |f| %>
          <%= f.text_area :comment, size: "50x7", placeholder: "コメントをここに" %>
          <%= f.submit "コメントする" %>
        <% end %>
       </div>

         <br>
         <h4>コメント欄</h4>
          <p>コメント件数：<%= @post_detail.comments.count %></p>
        <% @post_detail.comments.each do |post_comment| %>
        <p>
          投稿者:<%= post_comment.member.full_name %>
          <%= post_comment.created_at.strftime('%Y/%m/%d') %>
          <p><%= safe_join(post_comment.comment.split("\n"),tag(:br)) %></p>
          <% if post_comment.member == current_member %>
            <%= link_to "削除", post_comment_path(post_comment.post, post_comment), method: :delete,style: "color: red;" %>
        </p>
          <% end %>
        <% end %>
 </div>
</div>





