<h2>投稿詳細画面</h2>

<p>タイトル</p>
<p><%= @post_detail.title %></p>

<p>画像</p>
<p><%= @post_detail.image %></p>

<p>都道府県</p>
<p><%= @post_detail.prefectues %></p>

<p>住所</p>
<p><%= @post_detail.area %></p>

<p>アクセス</p>
<p><%= @post_detail.access %></p>

<p>周辺情報</p>
<p><%= @post_detail.nearby_information %></p>

<p>巡り方</p>
<p><%= @post_detail.go_around %></p>

<p>感想</p>
<p><%= @post_detail.impressions %></p>

<p>タグ</p>
<p><%= @post_detail.tag_ids %></p>

