<div class="background_form">
  <div class="container">
    <br>
    <div class="row">
      <div class="col-5">
        <%= link_to '投稿一覧に戻る',posts_path,style: "font-weight: bold" %>
      </div>
    </div>
      <br>
      <div class="row">
       <div class="col-5"></div>
       <div class="col-4">
        <h2>投稿詳細</h2>
       </div>
      </div>
      <br>
<%= render 'show', post_detail: @post_detail %>

     <br>
     <div class="row">
       <div class="col-5"></div>
       <div class="col-4">
         <h4><%= link_to '投稿内容を編集する',edit_post_path(@post_detail),style: "font-weight: bold" %></h4>
       </div>
     </div>
     <br>
     <p class="tag_design">
       タグ:
     </p>
    <% @post_detail.tags.each do |tag| %>
    <p class="tag_age">
      <%= tag.name %>
    </p>
    <% end %>
    <br>
     <% if @post_detail.favorited_by?(current_member) %>
       <div class="row">
        <h4>
          <%= link_to post_bookmarks_path(@post_detail),style: "color: red;", method: :delete do %>
          ♥<%= @post_detail.bookmarks.count %>いいね
         <% end %>
        </h4>
      </div>
      <p>いいね数:<%= @post_detail.bookmarks.count %></p>
      <% else %>
      <div class="row">
        <h4>
          <%= link_to post_bookmarks_path(@post_detail), style: "color: red;",method: :post do %>
          ♥<%= @post_detail.bookmarks.count %>いいね
         <% end %>
        </h4>
      </div>
      <% end %>
      <div>
        <p>コメント入力フォーム:</p>
        <%= form_with model: [@post_detail, @post_comment] do |f| %>
          <%= f.text_area :comment, size: "50x7", placeholder: "コメントをここに" %>
          <%= f.submit "コメントする" %>
        <% end %>
       </div>

         <br>
         <h4>コメント欄</h4>
          <p>コメント件数：<%= @post_detail.comments.count %></p>
        <% @post_detail.comments.each do |post_comment| %>
        <p>
          投稿者:<%= post_comment.member.full_name %>
          <%= post_comment.created_at.strftime('%Y/%m/%d') %>
          <p><%= safe_join(post_comment.comment.split("\n"),tag(:br)) %></p>
          <% if post_comment.member == current_member %>
            <%= link_to "削除", post_comment_path(post_comment.post, post_comment), method: :delete,style: "color: red;" %>
        </p>
          <% end %>
        <% end %>
 </div>
</div>





