<div class="background_mypost">
 <div class="container">
   <br>
    <div class="row">
     <div class="col-1"></div>
     <div class="col-8">
      <%= link_to "投稿履歴一覧に戻る", admin_root_path,class: 'sign-btn' %>
    </div>
   </div>

    <div class="row">
      <div class="col-5"></div>
      <div class="col-6">
        <h1>会員一覧</h1>
      </div>
    </div>
    <br>
      <table class="table thead-class">
        <thead>
          <tr class="table-secondary">
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>

          </tr>
        </thead>
          <% @members.each do |member| %>
        <tbody>
          <tr>
          <td><%= member.id %></td>
          <td>
            <%= link_to member.last_name+member.first_name, admin_member_path(member.id) %>
          </td>
          <td><%= member.email %></td>
          <td>
            <% if member.withdrawal %>
              <b class="text-secondary">退会</b>
            <% else %>
              <b class="text-success">有効</b>
            <% end %>
          </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row">
       <div class="col-5"></div>
       <div class="col-4">
        <h4><%= paginate @members %></h4>
       </div>
      </div>
 </div>
</div>