<div class="background_top">
 <div class ="container">
 <% if member_signed_in? %>
   <div class ="row">
   <div class ="col-12">
   </div>
  </div>
 <% else %>
  <div class ="row">
   <div class ="col-12">
    <%= link_to 'ゲストログイン', members_guest_sign_in_path, method: :post,class: 'btn-1' %>
   </div>
  </div>
  <div class="text-success">
  <%= flash[:notice] %>
</div>
<% end %>


   <div class ="row">
   <div class="col-1"></div>
    <div class = "col-5" >
      <%= image_tag 'otera_1.jpg', size: '900x500' %>
    </div>
    <div class = "top_mesg" >
     <h1 class="main-title">ゆかり巡り</h1>
     <h2 class="sub-title">歴史との出会い</h2>
    </div>
   </div>
   <br>
  <h2>新着投稿</h2>
  <br>
  <div class="row">
   <div class="col-12">
    <ul class ="list-inline">
     <% @posts.first(12).each do |post| %>
       <li class="list-inline-item">
        <%= post.created_at.strftime('%Y/%m/%d') %><br>
        <%= link_to post.title,post_path(post.id) %><br>
       </li>
      <% end %>
    </ul>
   </div>
  </div>
  <div class="row">
   <div class="col-9"></div>
   <div class="col-3">
    <%= link_to '全ての投稿はこちらへ',posts_path,class: 'sign-btn' %>
   </div>
  </div>

 <%#= link_to "退会する", members_withdraw_path, method: :patch, data: { confilm: "本当に退会しますか？" } %>

 <%#= link_to 'ゲストログイン（閲覧用）', members_guest_sign_in_path, method: :post %>

 </div>
</div>