<div class="background_mypost">
 <div class="container">
   <br>
   <div class="row">
    <div class="col-1"></div>
    <div class="col-8">
     <%= link_to "マイページに戻る", members_my_page_path,class: 'sign-btn' %>
    </div>
   </div>
   <div class="row">
     <div class="col-4"></div>
     <div class="col-4">
      <h2>いいねをした投稿一覧<br>(全<%= Bookmark.count %>件)</h2>
     </div>
   </div>
   <br>
  <div class="row">
   <div class="col-2"></div>
   <div class="col-10">
    <table border="1" >
      <thead>
        <tr>
          <th>投稿者</th>
          <th>投稿タイトル</th>
          <th>投稿日</th>
          <th>コメント</th>
        </tr>
      </thead>
      <% @bookmark_posts.each do |bookmark| %>
      <tbody>
        <tr>
          <td><%= bookmark.member.full_name %></td>
          <td><%= link_to bookmark.title, post_path(bookmark.id) %></td>
          <td><%= bookmark.created_at.in_time_zone('Tokyo').strftime('%Y-%m-%d %H:%M:%S') %></td>
          <td><%= "#{bookmark.comments.count} コメント" %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
   </div>
  </div>
    <br>
   <div class="row">
     <div class="col-5"></div>
     <div class="col-4">
      <p><%= paginate @bookmark_posts %></p>
     </div>
   </div>
 </div>
</div>