<div class="background_my">
 <div class ="container">
 <br>
  <div class ="row">
   <div class ="col-5"></div>
   <div class ="col-4">
    <h2><b>マイページ</b></h2>
   </div>
  </div>
  <div class ="row">
   <div class="col-2"></div>
   <div class ="col-10">
    <%= button_to "編集する",{controller: 'members', action: 'edit'}, {method: :get} %>
   </div>
  </div>
  <div class= "row">
   <br>
  </div>
  <div class="row">
   <div class="col-2"></div>
   <div class="col-10">
    <table border="1">
     <thead>
        <tr>
         <td class="table_co">氏名</td>
         <td><%= @member.last_name %> <%= @member.first_name %></td>
        </tr>
        <tr>
         <td class="table_co">フリガナ</td>
         <td><%= @member.last_name_kana %> <%= @member.first_name_kana %></td>
        </tr>
        <tr>
         <td class="table_co">メールアドレス</td>
         <td><%= @member.email %></td>
        </tr>
     </thead>
    </table>
   </div>
  </div>
  <br>
  <div class ="row">
   <div class ="col-3">
   </div>
   <div class ="col-4">
    <%= link_to "投稿履歴へ",members_path %>
   </div>
   <div class ="col-4">
    <%= link_to "いいねした投稿一覧へ",bookmarks_member_path(current_member.id) %>
   </div>
  </div>
 </div>
</div>