<div class ="container">
 <div class ="row">
  <div class ="col-4"></div>
  <div class ="col-4">
   <h2><b>マイページ</b></h2>
  </div>
 </div>
 <div class ="row">
  <div class ="col-12">
   <%= button_to "編集する",{controller: 'members', action: 'edit'}, {method: :get} %>
  </div>
 </div>
 <div class= "row">
  <br>
 </div>
 <div class="row">
   <table class="table table-bordered">
    <thead>
       <tr>
        <td class = "table-secondary">氏名</td>
        <td><%= @member.last_name %> <%= @member.first_name %></td>
       </tr>
       <tr>
        <td class = "table-secondary">フリガナ</td>
        <td><%= @member.last_name_kana %> <%= @member.first_name_kana %></td>
       </tr>
       <tr>
        <td class = "table-secondary">メールアドレス</td>
        <td><%= @member.email %></td>
       </tr>
    </thead>
   </table>
 </div>
 <div class ="row">
  <div class ="col-2">
  </div>
  <div class ="col-4">
   <%= link_to "投稿履歴へ",members_path %>
  </div>
  <div class ="col-4">
   <%= link_to "いいねした投稿一覧へ",bookmarks_member_path(current_member.id) %>
  </div>
 </div>
</div>
