<%= link_to 'ログアウト', destroy_manager_session_path, method: :delete %>

<h1>管理側の投稿一覧(全<%= Post.count %>件）</h1>

<table border="1" >
  <thead>
    <tr>
      <th>投稿日</th>
      <th>投稿タイトル</th>
    </tr>
  </thead>
  <% @posts.each do |input| %>
  <tbody>
    <tr>
      <td><%= input.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= link_to input.title,admin_post_path(input.id) %></td>
    </tr>
  </tbody>
  <% end %>
</table>

<%= paginate @posts %>