

<h1><%= @member.full_name %>さん投稿履歴一覧(全<%= @post_Individual.count %>件）</h1>

<table border="1" >
  <thead>
    <tr>
      <th>投稿日</th>
      <th>投稿タイトル</th>
      <th>コメント数</th>
    </tr>
  </thead>

  <tbody>
    <% @post_Individual.each do |post| %>
    <tr>
      <td><%= post.created_at.in_time_zone('Tokyo').strftime('%Y-%m-%d %H:%M:%S') %></td>
      <td><%= link_to post.title, admin_post_path(post) %></td>
      <td><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></td>
    </tr>
    <% end %>
  </tbody>

</table>

<%= paginate @post_Individual %>