<div class="background_form">
 <div class="container">
   <br>
     <div class="row">
      <div class="col-5">
       <%= link_to '投稿一覧(管理)に戻る',admin_root_path,class: 'sign-btn' %>
      </div>
     </div>
     <br>
   <div class="row">
    <div class="col-5"></div>
    <div class="col-4">
     <h2>投稿詳細(管理側)</h2>
    </div>
   </div>
   <br>
<%= render 'public/posts/show', post_detail: @post_detail %>public
  <br>
  <div class="row">
   <div class="col-5"></div>
   <div class="col-4">
    <h4><%= link_to '投稿を削除する',admin_post_path(@post_detail),method: :delete, style: "color: red;" %></h4>
   </div>
  </div>
  <br>
   <p class= "tag_design">
    タグ:
   </p>
   <% @post_detail.tags.each do |tag| %>
   <p class="tag_age">
    <%= tag.name %>
   </p>
   <% end %>
    <p>いいね件数:</p>
    <p><%= @bookmark_count %></p>
    <div>
      <h4>コメント欄</h4>
      <p>コメント件数：<%= @post_detail.comments.count %></p>
      <% @post_detail.comments.each do |post_comment| %>
      <p>
        <%= post_comment.member.full_name %>
        <%= post_comment.created_at.strftime('%Y/%m/%d') %>
        <p><%= safe_join(post_comment.comment.split("\n"),tag(:br)) %></p>
        <%= link_to "削除", admin_post_comment_path(post_comment.post, post_comment), method: :delete,style: "color: red;" %>
      </p>
      <% end %>
     </div>




</div>
</div>